*dependency-reduced-pom.xml
.classpath
.project
.settings/
target/
devenv
*.log*
*.iml
.idea/
*.versionsBackup
!NOTICE-BIN
!LICENSE-BIN
.DS_Store
localbin
nohup.out
/zeus-rocketmq-home/logs/
/zeus-rocketmq-home/store/
